<template>
  <div>
    <v-header :seller="seller"></v-header>
    <div class="tab border-1px">
      <div class="tab-item">
        <router-link to="/goods">商品</router-link>
      </div>
      <div class="tab-item">
        <router-link to="/ratings">评论</router-link>
      </div>
      <div class="tab-item">
        <router-link to="/seller">商家</router-link>
      </div>
    </div>
    <keep-alive>
      <router-view :seller="seller"></router-view>
    </keep-alive>
  </div>
</template>

<script type="text/ecmascript-6">
  import { urlParse } from 'common/js/util';
  import header from 'components/header/header.vue';

  // const ERR_OK = 0;
  // const debug = process.env.NODE_ENV !== 'production';

  export default {
    data() {
      return {
        seller: {
          id: (() => {
            let queryParam = urlParse();
            return queryParam.id;
          })()
        }
      };
    },
    created() { //  本地请求 axios.defaults.baseURL = 'http://localhost:8080/static'
      this.$axios.get('/data.json?id=' + this.seller.id).then((res) => {
        const data = res.data;
        this.seller = data.seller;
        this.seller = Object.assign({}, this.seller, this.seller.id);
      }).catch((err) => {
        console.log(err);
      });
      // 刷新时显示
      // this.$axios.get('/seller.json').then((res) =>{
      //   const data = res.data;
      //   this.seller = data;
      // }).catch(err =>{
      //   console.log(err)
      // })
    },
    components: {
      'v-header': header
    }
  };
</script>

<style lang="stylus" rel="stylesheet/stylus">
  @import "./common/stylus/mixin.styl"
  .tab
    display: flex
    width: 100%
    height: 40px
    line-height: 40px
    border-1px(rgba(7, 17, 27, 0.1))
    .tab-item
      flex: 1
      text-align: center
      & > a
        display: block
        font-size: 14px
        color: rgb(77, 85, 93)
        &.active
          color: rgb(240, 20, 20)
</style>
